.about-container{
    display: flex;
    padding: 30vh 10vw;
}
img {
    width: 25vw;
}
.about-content-container {
    padding: 0 5vw 0;
}
.about-intro {
    padding: 2vh 0;
}
.about-intro H3 {
    color: var(--pink);
}
.about-detail {
    padding: 2vh 0 0;
}
.about-detail h4 {
    border-bottom: 1px var(--pink) solid;
    width: fit-content;
    padding: 0 0 4px;
}
.about-detail p {
    padding: 1vh 0 0;
}