.home-container {
    background: url('../../assets/image/home-background.jpg');
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}