.experience-container {
    padding: 20vh 20vw;
    background: linear-gradient(144deg, rgba(184,0,91,1) 0%, rgba(142,23,117,1) 17%, rgba(57,54,142,1) 62%, rgba(15,69,155,1) 100%);
    background-color: white;
}
.experience-intro {
    text-align: right;
}
.experience-intro h2 {
    color: var(--white);
}
.experience-intro h3 {
    color: var(--pink);
    margin: 0 0 3vh;
}
.experience-intro a {
    color: var(--white);
    background-color: rgba(35,35,35,.65);
    padding: 10px;
    border-radius: 16px; 
}
.experience-intro a:hover {
    color: var(--white);
    background-color: rgba(35,35,35,.85);
    padding: 10px;
    border-radius: 16px; 
}

