:root {
  --black: #232323;
  --white: #f1f1f1;
  --pink: #c70364;
  --blue: #0f459b;
} 

main {
    margin-left: 250px;
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 800;
    font-size: 28px;
}

h2 {
    font-weight: 200;
    font-size: 24px;
}
h3 {
    font-weight: 700;
    font-size: 34px;
}
h4 {
    font-weight: 400;
    font-size: 24px;
}
h5 {
    font-weight: 400;
    font-size: 20px;
}
p {
    font-weight: 400;
    font-size: 16px;
}

