*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.header {
  display: flex;
  height: 4rem;
  justify-content: center;
  align-content: center;
  background: url('../../assets/image/home-background.jpg');
  background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.navbar {
  display: flex;
  align-items: center;
  color: white;
  justify-content: flex-start;
  width: 100%;
}

h2 {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.hamburger {
  width: 40px;
  display: flex;
  cursor: pointer;
  margin-right: 5rem;
  margin-left: 1rem;
}

.sidebar-block {
  position: fixed;
  left: 0;
  height: 100%;
  width: 255px;
  background: white;
  transition: all .35s ease-out;
}

.sidebar-block a {
  display: flex;
  align-content: flex-start;
  text-decoration: none;
  color: var(--black);
  padding: 1rem 1.5rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.sidebar-block a:hover {
  color: var(--blue)
}
.nav-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    
}
.nav-avatar {
    width: 50px;
    padding: 20px 0;
}
.nav-icon {
    padding: 0 10px 0 0;
}

